nav { border: 0; height: 100%; max-width: 200px; float: left; text-align: right; border-collapse: collapse; display: table; }

nav ul li { display: block; padding-bottom: 0.9rem; }

nav footer { display: table-row; vertical-align: bottom; height: 1px; }

div.hidden { display: none; }
