@import "__vars"

nav
  height: 100%
  background-color: $white
  border: 0
  max-width: 200px
  padding: 1em
  text-align: right
  float: left
  h1
    font-size: 1.5rem
  p
    font-size: 0.8rem
    line-height: 1rem
  footer
    color: $greyish_dark
    p.important
      color: $black_light

  ul
    li
      display: block
      list-style: none
      font-size: 0.8rem
      padding-bottom: 0.9rem


